
javaBasics/target/javaBasics-0.0.1-SNAPSHOT.jar
javaBasics/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
javaBasics/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
