<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servletBasics</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>username</param-name>
		<param-value>system</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>oracle</param-value>
	</context-param>
	
	
	<filter>
		<filter-name>NotNullFilter</filter-name>
		<filter-class>com.servlet.learn.basics.filter.NotNullFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NotNullFilter</filter-name>
		<url-pattern>/profileFill1</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>servletHello</servlet-name>
		<servlet-class>com.servlet.learn.basics.servlet.ServletHello</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletHello</servlet-name>
		<url-pattern>/servletHello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>genericServletHello</servlet-name>
		<servlet-class>com.servlet.learn.basics.genericServlet.HelloGenericServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>genericServletHello</servlet-name>
		<url-pattern>/genericServletHello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.HelloWorld</servlet-class>
		<init-param>
			<param-name>driver</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/helloMessage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.AddNumbers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/addTwoNum</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginDispatcher</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.requestDispatcher.LoginExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginDispatcher</servlet-name>
		<url-pattern>/loginDispatcher</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginResponse</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.requestDispatcher.LoginResponse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginResponse</servlet-name>
		<url-pattern>/dispatchResponse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendRedirect</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.sendRedirect.MyGoogleSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendRedirect</servlet-name>
		<url-pattern>/myGoogleSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginCookies</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.cookies.CookieLoginExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCookies</servlet-name>
		<url-pattern>/loginCookies</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutCookies</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.cookies.CookieLogoutExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutCookies</servlet-name>
		<url-pattern>/CookieLogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.cookies.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileFill1</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.hiddenForm.ProfileFill1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileFill1</servlet-name>
		<url-pattern>/profileFill1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileFill2</servlet-name>
		<servlet-class>com.servlet.learn.basics.httpServlet.hiddenForm.ProfileFill2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileFill2</servlet-name>
		<url-pattern>/profileFill2</url-pattern>
	</servlet-mapping>
</web-app>